{% extends "layouts/default.html" %} 

{% block content %}
<div class="container canvas-wrapper">
    <div class="canvas-header col-md-2 col-xs-6">
        <h2>Pon Pon Bar</h2>
        <p>Now open Tuesday to Sunday from 4PM to 2AM. Located between North Broadway and 26th on Walnut street. Here's a pic<span class="yellp-arrow"> →</span></p>
        <!--button id="saveCanvas" class="btn btn-default btn-lg" type="button">Save</button>
        <button id="clearCanvas" class="btn btn-default btn-lg" type="button">Clear</button-->
    </div>
    <!--div id="canvasDiv"></div-->
    <div class="placeholder">
        <div class="yellp-img col-md-2 col-xs-6">
          <img src="/uploads/images/pon-pon-bar-interior-square-web.jpg" />
        </div>
    </div>
    <div id="yellps">
        {% if not index %}
          <h2 class="text-center">No pics!</h2>
        {% else %}
          <div class="spacer col-md-2 col-xs-6">
          </div>
          <div class="latest-yellps col-md-2 col-xs-6">
            <h2>Latest Pics</h2>
          </div>
        {% set length = index.length %}
        {% for i in range((length - 5), length) %}
          <div class="spacer col-md-2 col-xs-6">
          </div>
          <div class="yellp-img col-md-2 col-xs-6">
            <img src="/uploads/images/pon-pon-bar-interior-square-web.jpg" />
          </div>
        {% endfor %}
        {% endif %}
        <div class="spacer col-md-2 col-xs-6">
        </div>
        <div class="more-yellps col-md-2 col-xs-6">
          <h2>More<br/>Pics</h2>
          <a href="/archive" target="_blank">All the pics &rarr;</a>
        </div>
    </div>
</div>
{% endblock %}
