// Site Styles
// ===========
// Table of Contents
// 1. Imports
// 2. Site-wide elements
// 3. Bootstrap overrides
// 4. Marquee3k
// 5. Header
// 6. Body
// 7. Yellp Styles (home pg and yellp archive pg)
// 8. Blog
// 9. Drink Menu
// 10. Footer

// 1. Imports
@import "site/variables";
@import "bootstrap/bootstrap";
@import "site/fonts";
@import "site/mixins";
@import "site/layout";
@import "site/mobile";


// 2. Site-wide elements
body {
    background: #ddd url('/images/pon-pattern.png');
    font-family: 'Sporting Grotesque',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

h1, .h1 {
	letter-spacing: -.0125em;
}

h2, .h2, h3, .h3 {
	margin: 25px 0 22.5px;
	letter-spacing: -.0125em;
}

sub, sup {
	font-size: 67.5%;
}

cite {
	font-family: 'ElektrixLight';
	font-size: 1.425em;
	font-weight: normal;
	letter-spacing: .0125em;
}

a {
	color: inherit;
	text-decoration: underline;
}


// 3. Bootstrap overrides
.container {
	min-height: 110px;
}

.navbar {
	margin: 0;
}

.navbar-nav {
	min-height: 110px;
}

.navbar-nav > li > a {
    padding-bottom: 6.225px;
    text-decoration: none;
}

.btn {
	border-width: 3px;
}

.btn-lg {
	padding-bottom: 5px;
}

.btn-default:hover {
	background-color: $cyan;
	color: $magenta;
	border-color: $magenta;
}

.list-group-item {
	border-width: 3px;
	&:not(:last-child) {
		border-bottom-width: 0;
	}
}

.lead {
	letter-spacing: -.0375em;
}

.modal-header {
	border: none;
	.close {
		color: $magenta;
		height: 32px;
		opacity: 1;
		text-shadow: none;
		width: 32px;
	}
}

.modal-content {
	box-shadow: 0 0 0;
	color: $magenta;
	padding: 30px 15px;
	text-align: center;
	@include border(12px, $magenta, $magenta);
	a {
		background-color: $green;
		box-shadow:
		    inset 0 -0.175em $green,
		    inset 0 -0.2em $magenta;
		padding: 0 3.75px;
		text-decoration: none;
		&:hover {
			background-color: $magenta;
			box-shadow:
		    inset 0 -0.175em $magenta,
		    inset 0 -0.2em $cyan;
		}
	}
}

// 4. Marquee3k
.marquee3k {
	overflow: hidden;
}

// 5. Header
#header .navbar {
	padding: 0;
}

#logo {
	display: block;
}

#ppguy {
	background-image: url('/images/pon-guy-bg.png');
	background-size: 100.25%;
	background-origin: content-box;
	background-position: center;
	padding-left: 0;
	padding-right: 0;
}

#pplogo {
	padding-left: 0;
	padding-right: 0;
}

#mainNav {
	padding-left: 0;
	padding-right: 0;
	z-index: 3;
	li {
		background-color: #fff;
		color: #111;
		font-weight: bold;
		text-align: center;
		&:nth-child(even) {
			background-color: #111;
			color: #fff;
		} a {
			min-height: 110px;
			padding-top: 42.5px;
		}
	}
}

// 6. Body
#body .container {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}

#body {
	//stretch text
	h1, .h1, h2, .h2, h3, .h3, p {
		transform-origin: 0% 0%;
		transform: scaleX(0.666);
		width: 133.3333%;
	}
	//override stretch text
	.page-title {
		transform-origin: 0% 0%;
		transform: scaleX(1);
		width: 100%;
		text-align: center;
	}
	.latest-yellps, .more-yellps, .yellps-archive {
		h1, .h1, h2, .h2, h3, .h3, p {
			font-size: 3em;
			transform-origin: 0% 0%;
			transform: scaleX(1);
			width: 100%;
		}
	}
}

.page-title {
	color: #111;
}

.spacer {
	height: 330px;
	width: 330px;
	padding-left: 0;
	padding-right: 0;
}

.filler {
	height: 110px;
}

.row-spacer {
	height: 1px;
	margin-top: -1px;
}


// 7.1 Yellp Styles (.1 home pg and .2yellp archive pg)

.canvas-header {
	background-color: #fff;
	height: 330px;
	padding: 0 24px 0;
	h2 { 
		font-weight: bold;
		margin: 38.5px 0 36px; 
	}
	p { 
		font-size: 20px;
		margin-bottom: 36px;
	}
}

#canvasDiv {
	canvas {
		@include border(12px, $cyan, $yellow);
	}
}

#yellps {
	.latest-yellps {
		background-color: #111;
		max-width: 330px;
		min-height: 330px;
		padding: 0;
		&::before {
			content: '';
			position: absolute;
			@include triangle-up(330px, 165px, #fff);
		}
		h2 {
			margin: 4.5em auto 0 auto;
			padding: 0 1em;
			position: absolute;
			text-align: center;
		}
	}
	.yellp-img {
		@include border(12px, $magenta, $cyan);
		max-width: 330px;
		padding-left: 0;
		padding-right: 0;
		img {
			height: 306px;
			width: 306px;
		}
	}
	div:nth-child(4n):not(.spacer) { // every other yellp-img
		@include border(12px, $cyan, $magenta);
	}
	.more-yellps {
		@include egg(330px, 330px, #111);
		color: #eee;
		text-align: center;
		h2 { margin-top: 2em; }
	}
}

// 7.2 Yellps archive
.yellps-archive {
	background-color: #111;
	min-height: 330px;
	padding: 0;
	&::before {
		content: '';
		position: absolute;
		@include triangle-right(330px, 165px, #eee);
	}
	h2 {
		color: #111;
		margin: 2.5em auto 0 auto;
		padding: 0 .5em;
		position: absolute;
	}
}
.yellp-delete {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

// 8. Blog
.post-head-1 {
	background: url('/images/pon-pon-favicon-lg.png');
}

.post-head-2 {
	background: url('/images/pon-pon-bar-bg.png');
}

.page-title {
	background: #fff url('/images/pon-guy-head-clear.jpg');
	background-repeat: no-repeat;
	margin: 0;
	min-height: 330px;
	max-width: 330px;
	padding: 1em 0 0;
}

#events {
	padding: 0;
}

// Events view (list view)
#eventsHeader {
	max-height: 330px;
	padding: 0;
}

.events-body {
	background-color: #fff;
	padding-bottom: 110px;
	img {
		margin-bottom: 15px;
	}
}

// Post view (single view)
#singlePost {
	padding: 0;
	header {
		max-height: 330px;
		padding: 0;
	} .post {
		background-color: #fff;
		padding-bottom: 110px;
	}
	img {
		margin-bottom: 15px;
	}
}

// 9. Drink Menu
#menu {
	padding: 0;
	.page-title {
		background: url('/images/pon-guy-head-img.jpg');
		background-size: 330px 330px;
		margin: 0;
		min-height: 330px;
		padding-top: 130px;
		text-align: center;
	}
	.menu-head-1 {
		background: url('/images/pon-cocktail.png');
		background-size: 330px 330px;
	}
	.menu-head-2 {
		background: url('/images/pon-texture-2.jpg');
		background-size: 330px 330px;
	}
}

.menu-header {text-align: center;}
.drinks-wrapper {background-color: #ddd;}
.cocktail { background-color: $magenta; }
.beer { background-color: $cyan; }
.wine { background-color: $yellow; }

.drink-header {
	background-color: #fff;
	border: 3px solid;
	font-weight: 600;
	font-size: 1.125em;
	letter-spacing: -.025em;
	margin-top: 18px;
	padding: 17.5px 16.75px 13.75px;
}

.drink-title {
	display: inline-block;
	letter-spacing: -.0325em;
	width: 82.5%;
}

.drink-price {
	color: #fff;
	display: inline-block;
	font-family: 'ElektrixLight';
	font-size: 24px;
	font-weight: normal;
	position: sticky;
	top: 41px;
	right: 34px;
	text-align: center;
	z-index: 1;
	&::before {
		background-color: #212121;
		border-radius: 90px;
		content: '';
		height: 45px;
		width: 45px;
		position: absolute;
		right: -10px;
		top: -4px;
		z-index: -1;
	}
}

.drink-desc {
	background-color: #fff;
	border-style: solid;
	border-width: 0 3px;
	padding: 17.5px 16.75px 0;
}

#body .drink-desc p { 
	margin: 0;
	transform: scaleX(1);
	width: 100%;
}

.drink-type {
	background-color: #fff;
	border: 3px solid;
	border-top-width: 0;
	padding: 17.5px 16.75px 18.75px;
}

.drink-quote {
	background-color: #fff;
	border: 3px solid;
	border-top-width: 0;
	font-family: 'ElektrixLight', cursive;
	font-size: 1.375em;
	letter-spacing: -.0125em;
	line-height: 1.2857;
	padding: 17.5px 16.75px 18.75px;
}

.no-drink-quote {
	background-color: #fff;
	border: 3px solid;
	border-top-width: 0;
	padding: 0 16.75px 13.25px;
}

// 10. Footer
#footer {
	background-color: #fff;
	color: #111;
	margin: 0;
	overflow: hidden;
	padding: 0;
	.credits {
		text-align: center;
		p {
			margin: 0;
			min-height: 110px;
			padding-top: 42.5px;
		} & :nth-child(odd):not(a) {
			background-color: #111;
			color: #fff;
		}
	}
	#addy {
		color: #fff;
		overflow: hidden;
		.org {
			background-color: #111;
			min-height: 110px;
			padding-top: 42.5px;
		} .adr {
			background-color: #fff;
			color: #111;
			min-height: 110px;
			padding-top: 42.5px;
		} .hrs {
			background-color: #111;
			min-height: 110px;
			padding-top: 42.5px;
		} .locality, .region, .postal-code, .country-name {
			// Hide these but leave visible for bots & screen readers
			clip: rect(0, 0, 0, 0);
			height: 0;
			overflow: hidden;
			position: absolute;
			width: 0;
			word-wrap: normal;
		}
	}
	#testimonials {
		background-color: #fff;
		color: #111;
		blockquote {
			border: none;
			font-size: inherit;
			margin-bottom: 0;
			min-height: 110px;
			padding-top: 42.5px;
			padding-right: 125px;
		}
		& :nth-child(even) {
			background-color: #111;
			color: #fff;
			letter-spacing: .0125em
		}
	}
}
